<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Images/css")" rel="Contents" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <!-- Le styles -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <style>
    body
    {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="@Url.Content("~")">Kanban Tool</a>
                <div class="nav-collapse">
                    <ul class="nav">                        
                        <a class="btn" data-toggle="modal" href="#addTask" >Add Task</a>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="span4" id="toDo">To Do</div>
          <div class="span4" id="doing">Doing</div>
          <div class="span4" id="done">Done</div>
        </div>
    

    
            <div class="modal" id="addTask" style="display: none;">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Add Task</h3>
                </div>
                <div class="modal-body">
                     <label for="title">Title:</label>
                     <input type="text" id="title" size="5"/>
                     <label for="description">Description:</label>
                     <textarea id="description" rows="5" cols="5"></textarea>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="saveTask">Save changes</a>
                </div>
            </div>
    </div>
    
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")"></script>
    <script src="@Url.Content("~/Scripts/simple.kanban.tool.tasks.js")"></script>
</body>
</html>
